body{
    padding: 0;
    margin: 0;
 background-color: #e064b9;
 font-family: 'Open Sans', sans-serif;}


.yes{
    background-color: #ff8dc7;
    background-image: url('./assets/couple-love.gif');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

body.yes .confirm{
    display: none;
}

body .yes .dialog{
    display: block;
}

.heart{
    animation: heartbeat 1s infinite;
    background-color: red;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.heart::before, .heart::after {
    content: '';
    background-color: red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
}

.heart::before{
    top: -8px;
    left: 0;
}

.heart::after{
    top: 0;
    left: 8px;
}

@keyframes heartbeat{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.25);
    }
    40%{
        transform: scale(1.5);
    }
}

.confirm{
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #b0498d;
    box-shadow: 3px 3px 3px #7e3a68;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.confirm-container{
    padding: 10px;
}

.confirm-container .title{
    color:#fff;
    text-align: center;
    font-size: 22px;
}

.confirm-actions{
    display: flex;
    column-gap: 10px;
}

.confirm-actions button{
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

.confirm-actions .btn-yes{
    background-color: #a3ddcb;
}

.confirm-actions .btn-no{
    position: relative;
    background-color: #e97777;
}

.dialog{
    display: none;
    min-width: 350px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #f261ac;
    box-shadow: 3px 3px 3px rgb(160, 69, 116);
    border-radius: 5px;
    font-size: 22px;
}

.dialog-container{
    padding: 15px 5px;
}

.dialog-container p{
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: #e064b9;
    }

    body.yes{
        background-color: #ff8dc7;
        background-image: url('./assets/couple-love.gif');
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body.yes .confirm{
        display: none;
    }

    body .yes .dialog{
        display: block;
    }

    .heart{
        animation: heartbeat 1s infinite;
        background-color: red;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-left: 5px;
    }

    .heart::before, .heart::after {
        content: '';
        background-color: red;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        position: absolute;
    }

    .heart::before{
        top: -5px;
        left: 0;
    }

    .heart::after{
        top: 0;
        left: 5px;
    }

    @keyframes heartbeat{
        0%{
            transform: scale(1);
        }
        20%{
            transform: scale(1.25);
        }
        40%{
            transform: scale(1.5);
        }

    }

    .confirm{
        min-width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: #b0498d;
        box-shadow: 3px 3px 3px #7e3a68;
        border-radius: 5px;
        padding: 15px;
        margin: 10px;
    }

    .confirm-container{
        padding: 10px;
    }

    .confirm-container .title{
        color:#fff;
        text-align: center;
        font-size: 18px;
    }

    .confirm-actions{
        display: flex;
        column-gap: 10px;
    }

    .confirm-actions button{
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        border: none;
        padding: 5px;
        color: #fff;
        font-weight: 600;
        border-radius: 5px;
    }

    .confirm-actions .btn-yes{
        background-color: #a3ddcb;
    }

    .confirm-actions .btn-no{
        position: relative;
        background-color: #e97777;
    }

    .dialog{
        display: none;
        min-width: 250px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: #f261ac;
        box-shadow: 3px 3px 3px rgb(160, 69, 116);
        border-radius: 5px;
        font-size: 18px;
    }

    .dialog-container{
        padding: 15px 5px;
    }

    .dialog-container p{
        color: #fff;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    #background {
      background-size: contain;
      background-position: center center;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #background {
      background-size: cover;
      background-position: center center;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #background {
      background-size: cover;
      background-position: center center;
    }
  }